#navbar{
    background-color: #0f1111;
    color: whitesmoke;
    height: 60px;
    text-align: left;
   
}
#navbar-button{
    background-color: #f08804;
    color:whitesmoke;
    border-radius: 5px;
    border: 2px solid #f08804;
}
#logo{
    color:#f08804;
    text-decoration: none;
    font-size: 20px;
    
}
a{
    margin-right: 200px;
    text-decoration: none;
    color:white;
}
footer{
    background-color: #0f1111;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
#content{
    height: 600px;
}
.min{
    background-color:rgba(10, 21, 58, 0.8);
    color: whitesmoke;
    height: 60px;
    padding: 10px 0px 0px 60px;
    display: flex;
   text-transform: capitalize;
    
}
.min-nav{
    margin: 10px; 
    padding: 5px 10px;
    display: inline-block; 
}